* {
  margin: 5px;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fcedda;
  color: white;
}

.heading {
  color: #bf7266;
  text-align: center;
  font-weight: bold;
}

img {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}

.heading span {
  font-size: 30px;
}

.heading p {
  font-size: 10px;
  font-style: italic;
  line-height: 0px;
}

.box {
  background-color: #bf7266;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  width: 50%;
}

.form,
.form-design {
  display: flex;
  justify-content: center;
}

#submit,
#key {
  border-radius: 10px;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

footer {
  color: #bf7266;
  text-align: center;
  padding: 10px;
  border-radius: 2%;
  margin-top: auto;
}
